<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668163977031-a749o9ts9m5t0be760h7reoed4nncubc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668163977031-a749o9ts9m5t0be760h7reoed4nncubc</string>
	<key>API_KEY</key>
	<string>AIzaSyDuvUH12RIw9MqpjZhcx37KPmR0ZXMg7hM</string>
	<key>GCM_SENDER_ID</key>
	<string>668163977031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernauth</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-cd648</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-cd648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668163977031:ios:409346d7c0b815b4c2a662</string>
</dict>
</plist>